@media (prefers-color-scheme: dark) {
    body {
        background-color: black;
        color: white;
    }

    a {
        color: lightblue;
    }

    a:active {
        color: orangered;
    }

    a:visited {
        color: mediumpurple;
    }

    ::-moz-selection ::selection {
        color: blue;
    }
}

body {
    font-family: sans-serif;
}

div.hero-image-l > figure > img {
    width: 25%;
    float: left;
    overflow: hidden;
    margin-right: 10px;
}

div.hero-image-l > figure {
    margin: 0;
    padding: 0;
}

div.hero-image-r > figure > img {
    width: 25%;
    float: right;
    overflow: hidden;
    margin-left: 10px;
}

div.hero-image-r > figure {
    margin: 0;
    padding: 0;
}

div.hero-spacer {
    height: 20px;
    width: 100%;
    overflow: hidden;
}

div.image-container > figure {
    margin: 0;
    padding: 0;
}

div.image-container > figure > img {
    width: 100%;
}
