body {
    background-color: #333;
    z-index: 1;
}

main {
    max-width: 800px;
    text-align: justify;
    margin-right: auto;
    margin-left: auto;

    background-color: #555;
    border: 10px;
    border-radius: 10px;
    padding: 10px;
}

body {
    font-family: sans-serif;
}

h1, h2 {
    border-bottom-color: #000000;
    border-bottom-style: dotted;
    border-bottom-width: 3px;
}

#me {
    width: 7em;
    height: 7em;
}

.heading-right {
    margin-top: 0px;
}

.heading-left {
    float: right;
}

.right {
    float: right;
    padding-left: 10px;
    padding-bottom: 10px;
}
